$accentColor = rgb(38, 166, 154)
$textColor = #242A31
$borderColor = rgb(230, 236, 241)
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = rgb(38, 166, 154)
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 1151px
$MQMobile = 919px
$MQMobileNarrow = 419px
